//
//  Config-Architecture.bate.xcconfig
//  ArchitectureDesign
//
//  Created by Lenny on 2021/9/8.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-ArchitectureDesign/Pods-ArchitectureDesign.bate.xcconfig"
#include "Config-RunCMD.xcconfig"


HOST_URL="http://www.baidu_bate.com"

