<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArchitectureDesign.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ArchitectureDesignBate.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>ArchitectureDesignDebug.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B8C98B9026E8686100EA60EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8F1ABBC26DD156F00383244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8F1ABD726DD157000383244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B8F1ABE226DD157000383244</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
